@charset "utf-8";
/* CSS Document */
body{
 font-family:Arial, Helvetica, sans-serif;
 font-size:13px;
 color:#000000;
 margin:0px auto;
 text-align:center;
}
div{
 padding:0px;
 margin:0px auto;
 }
a,a:link{
 color:#000000;
 text-decoration:none;
 }
a:visited{
 color:#000000;
 text-decoration:none;
}
a:hover{
 color:#FF6600;
 text-decoration:underline;
}
.searc_top a:link{
 text-decoration:underline;
 color:#003399;
}