/* CSS Document */
#table{
    width:1001px;
	height:610px;
	font-family:"ו";
	font-size:12px;
	text-align:center;
	}
#top{
    height:84px;
	padding-top:32px;
	margin-top:10px;
	margin-bottom:10px;
	}
.top_center{
    width:168px;
    height:63px;
	margin-left:380px;
	margin-top:25px;
	text-align:center;
    background-image:url(../images/logo.jpg);
	background-repeat:no-repeat;
	}
#center{
    height:200px;
	}
.center_t{
    width:690px;
	height:200px;
	}
.center_01{
    height:75px;
	margin-left:40px;
	margin-bottom:3px;
	}
.center_02,.sou{
    width:448px;
	height:29px;
	background-image:url(../images/pingtai.jpg);
	background-repeat:no-repeat;
	margin-left:30px;
	line-height:29px;
	float:left;
	}
.center_03{
    width:96px;
	height:29px;
	line-height:28px;
	text-align:left;
	margin-left:40px;
	float:left;
	}
.center_r{
    width:28px;
	height:29px;
	line-height:28px;
	margin-left:5px;
	float:left;
	}
.center_bottom{
    height:120px;
	width:610px;
	margin-left:20px;
	padding-top:20px;
	float:left;
	}
.center_h{
    height:100px;
	margin-left:25px;
	}
#bottom{
    height:175px;
	margin-top:60px;
	text-align:center;
	}
#bott_top{
    height:80px;
	margin-top:45px;
	text-align:center;
	}

