/* CSS Document */
body {margin:0px auto; text-align:center; padding:0px;}
div { margin:auto;}
#u{width:100%; height:100%;}
#to{
   height:95px;
   width:950px;
   padding-left:20px;
   }
.top_left{
   width:163px;
   height:47px;
   margin-top:20px;
   float:left;
   }
.top_right{
   margin-right:23px;
   margin-top:22px;
   width:198px;
   height:50px;
   font-family:"ו";
   font-size:12px;
   line-height:23px;
   text-align:right;
   float:right;
   }
#cont{height:380px; width:950px;}
.h_nav{
   height:33px; 
   line-height:33px; 
   text-align:left;
   padding-left:10px;
   font-size:14px;
   font-weight:bold;
   background:url(../images/navbn.jpg) repeat scroll 0 0; 
   border-left:1px #CCCCCC solid; 
   border-right:1px #CCCCCC solid;
   }
#c_content{height:320px; border:#CCCCCC solid 1px; border-top:none;}
.c_top{
  width:800px;
  height:98px;
  padding-top:25px;
  }
.c_01{
  width:100px;
  height:98px;
  float:left;
  }
.c_02{
  width:600px;
  height:98px;
  padding-left:20px;
  text-align:left;
  float:left;
  }
.c_center{
  height:15px;
  width:800px;
  border-bottom:#C5E0ED 1px dotted;
  }
#bottom{
  border-bottom:#FF6600 1px solid;
  height:10px;
  }
#footer{
   height:94px;
   width:950px;
   text-align:center;
   }
.footer_center{
  margin-top:24px;
  margin-bottom:40px;
  font-size:12px;
  height:18px;
  }
a, a:visited {
color:#003278;
text-decoration:none;
}
.h3{
 font-family:"ו";
 font-size:16px;
 font-weight:bold;
 color:#009900;
 }
.h4{
 font-family:"ו";
 font-size:12px;
 font-weight:normal;
 }