@CHARSET "UTF-8";

.outBg {
	background: url(images/outBg.gif) repeat scroll 0 0;
}

.inBg {
	background:repeat scroll 0 0;
}

.headTopic {
	background: url(images/banner.jpg) repeat scroll 0 0 transparent;
	height: 200px;
}

.headerMenuBorder {
	background: url(images/navBg.gif) repeat-x scroll 0 0 transparent;

}

.headerMenuBorder {
	border-style: solid;
	border-width: 1px 1px 0;
	height: 28px;
}

.headerMenuList a {
	color:#000;
}

.headerMenuLiCheck {
	background: url(images/navCheckBg.gif) repeat-x scroll 0 0 transparent;
	border-color:
}

.headerMenuLiCheck a {
	color: #fff;
}

.headerMenuBottom {
	border-bottom-color:#666666;
}

.bodyCont {
	background:url(images/bodyCont.gif) scroll 0 0 #FFFFFF;
	border-color:#999;
	border-style: solid;
}

.bodyContTitle {
	background: url(images/titleBg.gif) repeat scroll 0 0 transparent;
}
.bodyContTitle .titleLinkColor {
	color:#003399;
}