/* CSS Document */
.container {
padding:9px 20px 13px 20px;
text-align:left;
}
body{
color:#555555;
font:13px;
text-align:center;
margin:0;
padding:0;
}
.f{
 height:80px;
 line-height:25px;
}
.vc{
  border-bottom:#CCCCCC solid 1px;
  height:26px;
  color:#000000;
  line-height:26px;
  font-size:12px;
  margin-top:4px;
}
.vc a,a:link{
  color:#000000;
  text-decoration:none;
}
.vc a:hover{
  color:#0066CC;
  text-decoration:none;
}
.vc a:visited{
  color:#333333;
  text-decoration:none;
}
.f01{
 padding-left:3px;
 padding-top:2px;
 height:21px;
 line-height:22px;
 text-align:center;
 margin-right:3px;
 border-right:#CCCCCC solid 1px;
}
.font03{
  color:#666666;
}
.f02{
  padding-left:8px;
  height:23px;
  line-height:23px;
  font-size:13px;
  color:#666666;
  border-left:#CCCCCC solid 1px;
}
.f ul{
 padding:0px;
 margin:2px 6px;
 list-style:none outside none;
}
.f li{
 margin:2px 3px;
 font-size:13px;
}
.f span{
 font-size:13px;
}
.top{
clear:both;
line-height:20px;
height:42px;
margin-bottom:0 !important;
border-bottom:1px solid #D586DF;
overflow:hidden;
}
.topq{
clear:both;
line-height:20px;
height:50px;
margin-bottom:0 !important;
border-bottom:1px solid #DEF4F8;
overflow:hidden;
}
.font01{
 color:#0066CC;
 font-size:13px;
}
h3 {
color:#0099CC;
font-size:14px;
margin-bottom:10px;
}
.logo{
 width:180px;
 height:118px;
 vertical-align:middle;
 text-align:left;
 margin-left:5px;
 }
.font_top{
  font-family:"宋体";
  font-size:14px;
  color:#000;
  font-weight:bold;
  }
.font_u{
  font-family:"宋体";
  font-size:14px;
  color:#FF6600;
  font-weight:bold;
  }
.tb{
  height:22px;
  line-height:22px;
  vertical-align:middle;
  border:#CBDFF5 solid 1px;
  padding-left:4px;
  width:65px;
  }
.nv{
 width:73px;
 font-size:13px;
 color:#f60;
 font-weight:bold;
 height:24px;
 float:left;
 text-align:center;
 line-height:24px;
}
.bn{
 width:135px;
 height:22px;
 line-height:22px;
 font-size:13px;
 padding-top:2px;
 text-align:left;
 margin-right:3px;
 float:left;
}
.bns{
 width:85px;
 height:22px;
 line-height:22px;
 font-size:13px;
 padding-top:2px;
 text-align:left;
 float:left;
}
.ty{
 float:left;
 width:45px;
 height:22px;
 line-height:22px;
 text-align:left;
}
#select02{
 width:131px;
}
#select03{
 width:131px;
}
#select04{
  width:83px;
}
.gu{
 width:638px;
 height:50px;
}
.gus{
 width:425px;
 height:50px;
}
.font02_t{
 font-size:13px;
 color:#3865A9;
 line-height:22px;
 }
.font03_t{
    font-family:"宋体";
	font-size:12px;
	font-weight:normal;
	color:#000;
}
a{font-family:"宋体"; font-size:12px; color:#000000; text-decoration:none;}
a:link{
  color:#000;
  font-family:"宋体";
  font-size:12px;
  text-decoration:none;
  }
a:visited{font-size:12px; color:#0066FF; text-decoration:underline;}
element.style {
-moz-box-sizing:border-box;
height:110px;
overflow-x:auto;
overflow-y:hidden;
padding-bottom:32px;
}
#gt{
 margin-top:5px;
}
.fv{
 padding-left:10px;
 height:22px;
 line-height:22px;
 padding-top:6px;
 color:#000;
 font-size:13px;
 padding-bottom:7px;
 background:url(../images/fd.png) repeat-x scroll 0 0;
}
.fva{
 height:30px;
 line-height:30px;
 color:#f60;
 font-weight:bold;
 font-size:16px;
}
.gb{
 line-height:21px;
 border:#ccc solid 1px;
 padding:2px 5px 6px 8px;;
}
.gb ul{
 line-height:21px;
 margin:0px auto;
 list-style:none outside none;
 padding:0px;
}
.gb li{
 margin:4px 3px 5px 3px;
 font-size:14px;
 padding:0px;
}
li.hv{
  font-size:14px;
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
  color:#0066CC;
}
.fb{
 list-style:none outside none;
 font-size:14px;
 color:#181818;
 line-height:23px;
}
.e_left{
 width:183px;
 height:32px;
 margin:5px 0px 5px 0px;
 float:left;
 background:url(../images/email.jpg) no-repeat scroll 0 0;
}
.e_rut{
 width:118px;
 height:32px;
 margin:5px 0px 5px 0px;
 float:left;
 background:url(../images/tub.jpg) no-repeat scroll 0 0;
}
.e_right{
 width:183px;
 height:32px;
 margin:5px;
 float:left;
 margin-right:0px;
 background:url(../images/em0.jpg) no-repeat scroll 0 0;
}
.e_rightz{
 width:183px;
 height:32px;
 margin:5px 0px 5px 0px;
 float:left;
 margin-right:0px;
 background:url(../images/s.jpg) no-repeat scroll 0 0;
}
.mail01{
 width:55px;
 height:32px;
 line-height:32px;
 vertical-align:middle;
 padding-left:36px;
 float:left;
 font-size:14px;
 font-weight:bold;
 color:#0066CC;
}
#form02,#form03{
 width:56px;
 height:12px;
 line-height:12px;
}
#form05{
 width:125px;
 height:12px;
 line-height:12px;
}
.mailq{
 width:75px;
 height:32px;
 line-height:32px;
 vertical-align:middle;
 padding-left:36px;
 float:left;
 font-size:14px;
 font-weight:bold;
 color:#0066CC;
}
.mail01 a:link,.mailq a:link{
 color:#0066CC;
 font-size:14px;
 text-decoration:none;
}
.mail01 a:visited,.mailq a:visited{
 color:#0066CC;
 font-size:14px;
 text-decoration:none;
}
.mail01 a:hover,.mailq a:hover{
 color:#FF6600;
 font-size:14px;
 text-decoration:none;
}
#source {
-moz-box-shadow:1px 1px 0 #E7E7E7;
border-color:#CCCCCC #999999 #999999 #CCCCCC;
border-style:solid;
border-width:1px;
color:#000000;
font-family:arial,sans-serif;
font-size:16px;
height:205px;
margin:0;
outline:medium none;
padding:8px 8px 32px;
width:99.3%;
}
.mo{
 padding:7px;
 height:100%;
 width:100%;
 font-size:13px;
 border:#999999 solid 1px;
 color:#000000;
}