@CHARSET "UTF-8";

.toolBar {
	background: #FFFFFF none repeat scroll 0 0;
	width: 952px;
	margin: 0 auto;
	text-align: center;
}

.toolBarTop {
	background: transparent url(../../images/mid_bg.gif) repeat-x scroll 0 0;
	height: 30px;
	line-height: 30px;
	text-align: right;
}

.noneie6 {
	_display: none;
}

.browserRecommend a{
	color: blue;
}

.mt-2px {
	margin-top: -2px;
}

.mt-1px {
	margin-top: -1px;
}

.mt1px {
	margin-top: 1px;
}

.mt2px {
	margin-top: 2px;
}

.mt3px {
	margin-top: 3px;
}

.mt4px {
	margin-top: 4px;
}

.mt5px {
	margin-top: 5px;
}

.mt6px {
	margin-top: 6px;
}

.mt7px {
	margin-top: 7px;
}

.mt8px {
	margin-top: 8px;
}

.mr7px {
	margin-right: 7px;
}

.mb4px {
	margin-bottom: 4px;
}

.ml3px {
	margin-left: 3px;
}

.ml5px {
	margin-left: 5px;
}

.ml7px {
	margin-left: 7px;
}

.ml10px {
	margin-left: 10px;
}

.ml15px {
	margin-left: 15px;
}

.ml20px {
	margin-left: 20px;
}

.pr50px {
	padding-right: 50px;
}

.pl23px {
	padding-left: 23px;
}

.lin190 {
	line-height: 190%;
}

.toolBarMiddle {
	background: transparent url(../images/bg.gif) repeat-x scroll 0 0;
	height: 62px;
}

.l60 {
	left: 60px;
}

.h30 {
	height: 30px;
}

.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.block {
	display: block;
}

.fl {
	float: left;
}

img {
	border: 0 none;
}

.ctrlList_left {
	background: url(../images/mid_left_bg.gif);
	height: 35px;
	width: 4px;
}

.ctrlList_right {
	background: url(../images/mid_mid_bg.gif) repeat-x;
	height: 35px;
	width: 780px;
}

.lin250 {
	line-height: 250%;
}

.ctrlList_right a.bg {
	background: transparent url(../images/link_bg.gif) no-repeat scroll 0 0;
	color: #000000;
	padding-right: 20px;
	width: 75px;
}

.ctrlList_right a.bg:hover {
	background: transparent url(../images/hover_bg.gif) no-repeat scroll;
	color: #FF7300;
	padding-right: 20px;
	text-decoration: none;
}

.ctrlList_right a {
	display: block;
	white-space: nowrap;
}

.bodyContTitle .titleName {
	cursor: pointer;
}

.hunkList {
	min-height: 30px;
}

.moveList {
	min-height: 160px;
	max-width: 952px;
}