body { FONT-SIZE: 12px;COLOR: #; LINE-HEIGHT: 135%;}
A:link { COLOR: #; TEXT-DECORATION: none;}
A:visited { COLOR: #; TEXT-DECORATION: none;}
A:hover { COLOR: #; TEXT-DECORATION: none;}
A:active { COLOR: #; TEXT-DECORATION: none;}

.unnamed3 
{
	font-family: "Microsoft Sans Serif", "MS Sans Serif", "MS Serif";
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	height: 18px;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.c1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #575555;
	text-decoration: none;
}
.c2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #80482B;
	text-decoration: none;
}

.c3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #8B8A8A;
	text-decoration: none;
}

.c4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}

.c4a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #BC0000;
	text-decoration: none;
}
.c5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.c6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #595959;
	text-decoration: none;
}
.c6a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.cimg {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	}