/*** @author:aliued-wd junbiao.zhujb*/
.footerBox img {
	padding: 0px;
}

.footerBox {
	clear: both;
	width: 99%;
	line-height: 150%;
	border-top: 3px solid #ff7300;
	margin: 10px auto;
	padding-top: 7px;
	font-size: 12px;
	text-align: center;
	padding-bottom: 10px;
	overflow: hidden;
}

.footerBox {
	min-width: 1000px;
	width: auto;
}

.footerBox .work-footer {
	background: none repeat scroll 0 0 #6B98D2;
	height: 35px;
	min-width: 960px;
	overflow: hidden;
	padding: 0 20px;
}

.footerBox .work-footer .f-l {
	float: left;
}

.footerBox .work-footer li {
	color: #FFFFFF;
	float: left;
	height: 35px;
	line-height: 35px;
	padding: 0 8px;
}

.footerBox .work-footer .copyright {
	font-family: Arial;
}

.footerBox .work-footer li a,.footerBox .work-footer li a:link,.footerBox .work-footer li a:visited,.footerBox .work-footer li a:hover
	{
	color: #FFFFFF;
}

.footerBox .work-footer li a,.footerBox .work-footer li a:link,.footerBox .work-footer li a:visited,.footerBox .work-footer li a:hover
	{
	color: #FFFFFF;
}

.footerBox .work-footer .f-r {
	float: right;
}

.footerBox .work-footer li.footer-logo {
	margin: 5px 0 0 15px;
	padding: 0;
}

.mt_0 {
	margin-top: 0px;
}

.footerBox a:link {
	color: #003278;
	text-decoration: none;
}

.footerBox a:visited {
	color: #003278;
	text-decoration: none;
}

.footerBox a:hover {
	color: #FF6600;
	text-decoration: underline;
}

.footer {
	width: 952px;
	margin: 0px auto;
	overflow: hidden;
}

.footer ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: left;
	width: 100%;
	text-align: center;
	margin: 3px auto;
}

.footer li {
	display: inline;
	border-right: 1px solid #666;
	padding: 0px 8px 0px 4px !important; >
	padding: 0px 4px 0px 9px !important;
	padding: 0px 4px 0px 9px;
	font-family: Arial, Helvetica, sans-serif
}

.footer li.sli {
	padding: 0px 1px;
}

.footer li.sli2 {
	padding: 0px 4px 0px 1px;
}

.footer .no_border {
	border: 0px;
}

.footBox {
	text-align: center;
	width: 952px;
	margin: 0px auto;
}

.foot_corp {
	clear: both;
	width: 515px;
	margin: 10px auto;
	font-size: 12px;
}

.foot_corp img {
	border: 0px;
}

.foot_corp span {
	float: left;
	margin: 0px 5px;
}

.foot_corp span.img_pd {
	padding-top: 15px;
}

#copyright2 {
	position: relative;
	width: 952px;
	height: 66px;
	margin: 0 auto;
	background-image:
		url(img/bottom-bg_1242799870583.png);
}

#copyright2 a {
	position: absolute;
	display: block;
}

#copyright2 .ft-b1 {
	top: 10px;
	left: 105px;
	width: 40px;
	height: 50px;
	text-indent: -9999px;
	line-height: 0;
}

#copyright2 .ft-b2 {
	top: 10px;
	left: 170px;
	width: 50px;
	height: 60px;
	text-indent: -9999px;
	line-height: 0;
}

#copyright2 .ft-b3 {
	top: 20px;
	left: 236px;
	width: 132px;
	height: 32px;
	line-height: 16px;
	word-break: break-all;
	overflow: hidden;
	text-align: center;
}

#copyright2 .ft-b4 {
	top: 20px;
	left: 383px;
	width: 156px;
	height: 32px;
	line-height: 16px;
	word-break: break-all;
	overflow: hidden;
	text-align: center;
}

#copyright2 .ft-b5 {
	position: absolute;
	display: block;
	top: 20px;
	left: 554px;
	width: 156px;
	height: 32px;
	line-height: 16px;
	word-break: break-all;
	overflow: hidden;
	text-align: center;
	color: #0048A2;
}

#copyright2 .ft-b6 {
	top: 10px;
	left: 725px;
	width: 114px;
	height: 50px;
	text-indent: -9999px;
	line-height: 0;
}

#copyright2 .ft-b7 {
	top: 10px;
	left: 848px;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	line-height: 0;
}

#UserFeedback {
	height: 40px;
}

#UserFeedback p {
	padding-left: 254px;
	padding-top: 14px;
	line-height: 16px;
	background: transparent
		url(img/search-091127.gif)
		no-repeat 48px -148px;
}

#UserFeedback p a:link,#UserFeedback p a:visited {
	color: #00349a;
	text-decoration: underline;
}

#UserFeedback p a:hover {
	color: #ff7300;
	text-decoration: underline;
}