.toolbar_v3 .log ul.loged {
	padding-top: 0px !important;
}

.typeLabel {
	padding-top: 2px;
}

.ffmt1px {
	margin-top: 1px;
}

.ffmt2px {
	margin-top: 2px;
}

.ffmt3px {
	margin-top: 3px;
}

.ffmt4px {
	margin-top: 4px;
}

.ffmt5px {
	margin-top: 5px;
}

.ffmt6px {
	margin-top: 6px;
}

.ffmt7px {
	margin-top: 7px;
}

.ffmt8px {
	margin-top: 8px;
}

.ffmb4px {
	margin-bottom: 4px;
}

.ffmb5px {
	margin-bottom: 5px;
}