@CHARSET "UTF-8";

.cert ul {
	overflow: auto;
	zoom: 1;
	margin: 1em 0;
	text-align: center;
	padding-bottom: 4px;
}

.cert li {
	float: left;
}

.certUl {
	border-bottom: 1px dashed;
}

.cert .pic {
	width: 200px;
}

.cert .name {
	width: 150px;
}

.cert .organize {
	width: 300px;
}