@CHARSET "UTF-8";

.mod-footer {
	border-top: 1px solid #E5E5E5;
	color: #333333;
	line-height: 150%;
	margin-top: 5px;
	padding: 0 0 20px;
	text-align: center;
	padding: 0 0 20px;
	width: 98%;
	border-style: solid none none;
	background-position: left bottom;
	border-style: solid none none;
}

.mod-footer p {
	margin: 2px;
}

.mod-footer a.graylink:link,.mod-footer a.graylink:visited {
	color: #333333;
	text-decoration: none;
}

.mod-footer a:link,.mod-footer a:visited {
	color: #005AC6;
	text-decoration: none;
	padding: 0 3px\9;
}
.dongfang{
   color: #005AC6;
}
.analysis_tool {
	position: relative;
	top: 2px;
}