body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: black;
    margin: 0;
}
body, td, a, p, .h {
    font-family: arial,sans-serif;
}

#gog {
    padding: 3px 8px 0;
}
#gog {
    background: none repeat scroll 0 0 #FFFFFF;
}
#gbar, #guser {
    font-size: 13px;
    padding-top: 1px !important;
}
#gbar {
    float: left;
    height: 22px;
}
.gb1 {
    margin-right: 0.5em;
}
a.gb1, a.gb2, a.gb3, a.gb4 {
    color: #0000CC !important;
}
a.gb1, a.gb4 {
    text-decoration: underline;
}
a.gb1, a.gb4 {
    text-decoration: underline;
}
a.gb1, a.gb2, a.gb3, a.gb4 {
    color: #0000CC !important;
}
#gbar, #guser {
    font-size: 13px;
}
#guser {
    text-align: right;
}
.gbh, .gbd {
    border-top: 1px solid #C9D7F1;
    font-size: 1px;
}
.gbh {
    height: 0;
    position: absolute;
    top: 24px;
    width: 100%;
}
.sblc a {
    display: block;
    font-size: 11px;
    margin: 2px 0 2px 13px;
}
a {
    color: #1111CC;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
.fl a {
    color: #3366CC;
}

form {
    margin-bottom: 20px;
}
td {
    line-height: 0.8em;
}
body, td, a, p, .h {
    font-family: arial,sans-serif;
}
.ds {
    border-bottom: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    display: inline-block;
    margin: 3px 0 4px 4px;
}
input {
    font-family: inherit;
}
input {
    -moz-box-sizing: content-box;
}
.lst {
    height: 25px;
    width: 496px;
}
.lsbb {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 30px;
}
.lsb {
    background: url("images/nav_logo37.png") repeat scroll center bottom transparent;
    border: medium none;
    color: #000000;
    cursor: pointer;
    font: 15px arial,sans-serif;
    height: 30px;
    margin: 0;
    outline: 0 none;
    vertical-align: top;
}
.sblc {
    padding-top: 5px;
}
.gac_od {
    background: none repeat scroll 0 0 white;
    border-color: -moz-use-text-color #E7E7E7 #E7E7E7 -moz-use-text-color;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    margin: 0;
    padding: 0 !important;
    position: absolute;
    z-index: 99;
}
.gac_id {
    background: none repeat scroll 0 0 white;
    border-color: #A2BFF0 #558BE3 #558BE3 #A2BFF0;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin: 0;
    z-index: 99;
}
.gac_m {
    background: none repeat scroll 0 0 white;
    border: 0 none;
    cursor: default;
    display: block;
    font-size: 17px;
    line-height: 117%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99;
}


