@CHARSET "UTF-8";

.outBg {
	background: url(images/outBg.gif) repeat scroll 0 0;
}

.inBg {
	background: url(images/inBg.gif) repeat scroll 0 0 #FFFFFF;
}

.headTopic {
	background: url(images/banner.jpg) repeat scroll 0 0 transparent;
	height: 200px;
}

.headerMenuBorder {
	background: url(images/navBg.gif) repeat-x scroll 0 0 transparent;

}

.headerMenuBorder {
	border-style: solid;
	border-width: 1px 1px 0;
	height: 28px;
}

.headerMenuList a {
	color:#FFFFFF;
}

.headerMenuLiCheck {
	background: url(images/navCheckBg.gif) repeat-x scroll 0 0 transparent;
	border-color:#ff9900;
}

.headerMenuLiCheck a {
	color:#000000;
}

.headerMenuBottom {
	border-bottom-color:#ff9900;
}

.bodyCont {
	background:url(images/bodyCont.gif) repeat scroll 0 0;
	border-color:#999999;
	border-style: solid;
}

.bodyContTitle {
	background: url(images/titleBg.gif) repeat scroll 0 0 transparent;
}
.bodyContTitle .titleLinkColor {
	color:#3366FF;
}