<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">
	<!-- 支持 @AspectJ 标记 -->
	<import resource="applicationDataAccess.xml" />
	<import resource="applicationDAO.xml" />
	<import resource="applicationService.xml" />
	<import resource="applicationSOA.xml" />
	<import resource="applicationMessage.xml" />
	<import resource="applicationCache.xml" />
	<import resource="applicationTimerQuartz.xml" />
	<aop:aspectj-autoproxy />

	<context:component-scan base-package="com.abbcc.dao.impl" />
	<context:component-scan base-package="com.abbcc.service" />
</beans>