@CHARSET "UTF-8";

.outBg {
	background: url(images/outBg.gif) repeat scroll 0 0 transparent;
}

.inBg {
	background: url(images/outBg.gif) repeat scroll 0 0 transparent;
}

.topbaner {
	background: url(images/topbanner.jpg) repeat scroll 0 0 transparent;
}

.headTopic {
	background: url(images/banner.jpg) repeat scroll 0 0 transparent;
	height: 200px;
}

.headerMenuBg {
	background: url(images/navBg.gif) scroll 0 0 transparent;
}

.headerMenuBorder {
	border-color: #BA3400;
	border-style: solid;
	border-width: 1px 1px 0;
	height: 28px;
}

.headerMenuList a {
	color: #FFFF00;
}

.headerMenuLiCheck {
	border-style: solid;
	border-width: 1px 1px 0;
	cursor: pointer;
	float: left;
	line-height: 24px;
	margin-top: 3px;
}

.headerMenuLiCheck {
	border-color: #FFFF00;
}
.headerMenuLiCheckBg{
	background: none  scroll 0 0 #FFFF00;
}
.headerMenuLiCheck a {
	color: #1C3907;
}

.headerMenuBottom {
	border-bottom-color: #FFFF00;
}

.bodyCont {
	background: none repeat scroll 0 0 #AE2900;
	border-color: #AE2900;
	border-style: solid;
}

.bodyContTitle {
	background: url(images/titleBg.gif) repeat scroll 0 0 transparent;
}

.bodyContTitle .titleLinkColor {
	color: #FFFF00;
}