@CHARSET "UTF-8";

.outBg {
	background: url(images/outBg.gif) repeat scroll 0 0;
}

.inBg {
	background: url(images/inBg.gif) repeat scroll 0 0;
}

.headTopic {
	background: url(images/banner.jpg) repeat scroll 0 0 transparent;
	height: 200px;
}
.topbaner {
	background:none repeat scroll 0 0 #fff;
}
.headerMenuBorder {
	background: url(images/navBg.gif) repeat-x scroll 0 0 transparent;

}

.headerMenuBorder {
	border-style: solid;
	border-width: 0px 0px 0;
	height: 28px;
}

.headerMenuList a {
	color:#fff;
}

.headerMenuLiCheck {
	background:repeat-x scroll 0 0 transparent;
	border-color:#5e4e3a;
	border-style:none;
}

.headerMenuLiCheck a {
	color:#fff;
}

.headerMenuBottom {
	border-bottom-color:#FF9900;
}

.bodyCont {
	background:scroll 0 0 #FFFFFF;
	border-color:#FF9900;
	border-style: solid;
}

.bodyContTitle {
	background: url(images/titleBg.gif) repeat scroll 0 0 transparent;
}
.bodyContTitle .titleLinkColor {
	color:#000;
}