			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, font, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td {
				margin: 0; padding: 0; border: 0; font-weight: inherit;
				font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
			a img,:link img,:visited img { border:none }
			body { line-height: 1.5; font-family: Arial, Helvetica, Verdana, sans-serif; color: #333; font-size: 75%;}
			html > body   { font-size: 12px; padding: 20px }  
			h1 { font-size: 2.0em; font-weight: normal; margin: 0.6em 0em 0.8em 0em; padding: 0em; }
			h2 { font-size: 1.4em; margin: 1.2em 0em 1.2em 0em; font-weight: normal; }
			h3 { font-size: 1.2em; margin: 1.2em 0em 1.2em 0em; font-weight: normal; }
			ol, ul, li { font-size: 1.0em; }
			p { font-size: 1.0em; line-height: 1.6em; margin: 1.0em 0em 1.0em 0em; }
			pre, code { font-family: monospace; font-size: 1.0em; }
			
			p { color: #444; }
			a:link, a:hover, a:visited { color: #015C8A; }
			#page { padding: 20px 20px; }
			h1 { font-family: "helvetica neue", helvetica, arial, verdana, sans-serif; color: #999; border-bottom: 1px solid #999; padding-bottom: 5px;
			margin-top: 0; }
			h1 a { text-decoration: none; color: #999 !important; }
			h1 a:hover { text-decoration: underline; }
			h1 span { color: #444; }
			h2 { font-family: "helvetica neue", helvetica, arial, verdana, sans-serif; border-bottom: 1px solid #CCC; padding-bottom: 5px; margin-bottom:
			0.9em; color: #444; }
			h3 { font-family: "helvetica neue", helvetica, arial, verdana, sans-serif; color: #444; margin-top: 1.0em; font-weight: bold; }
			#nav { background: #333; padding: 7px 20px; }
			#nav a { color: #FFB900; text-decoration: none; }
			#nav a:hover { text-decoration: underline; }
			code { font-weight: normal !important; }
			li { margin-left: 16px; width: 100%}
			strong { font-weight: bold }

		
			#shopping_list {
				margin: 0 0 10px 0;
				padding: 0 14px;
			}			
		
			.qp_counter {
				margin:  10px;
			}
			
			pre {
				margin: 20px 0 10px 0;
				background: #ccc !important;
				padding: 10px;
			}
			
			a.qp_disabled {
				color: #888;
			}
			
			#images_counter {
				width: 200px;
			}
			
			#images_counter .qp_prev {
/*				margin-right: 30px;*/
				display: block;
				float: right;
			}
			
			#images_counter .qp_next {
				display: block;
				float: left;
			}
			body {
	font-family: 'Verdana', 'ו';
	font-size: 12px;
}

.pagebar {
	border: 1px solid gray;
	width: auto;
	height: auto;
	line-height: 28px;
}

.pageName {
	border: 1px solid gray;
	float: left;
	margin: 0 3 3 3;
	cursor: pointer;
	color: #5A5D5F;
	line-height: 18px;
	margin: 3 3 3 3;
}

.page_number {
	text-align: center;
	height: 18px;
	width: 16px;
	line-height: 18px;
	margin: 3 3 3 3;
	border: 1px solid gray;
	cursor: pointer;
	float: left;
	color: #5F7690
}

.current_pageName {
	border: 0px solid gray;
	float: left;
	margin: 3 3 3 3;
	cursor: default;
	color: #5A5D5F;
	line-height: 18px;
	margin: 6 3 3 3;
}

.current_page_number {
	color: #5A5D5F;
	border: 1px;
	cursor: default;
	margin: 3 3 3 3;
	line-height: 18px;
}

.totalpage_number {
	color: blue;
}
		